Package: com.karin722.nobreadcrumbs
Name: NoBreadcrumbs
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide Breadcrumbs.
Maintainer: karin722
Author: karin722
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
